/* Estilos básicos */
body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Modo escuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Estilos do botão de alternância */
#darkModeToggle {
    position: fixed;
    top: 0.5rem; /* Ajuste para cima */
    right: 2rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 40px; /* Tamanho reduzido */
    height: 40px; /* Tamanho reduzido */
    font-size: 22px; /* Tamanho da fonte reduzido */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#darkModeToggle.rotate {
    transform: rotate(360deg);
}

body.dark-mode #darkModeToggle {
    background-color: var(--secondary-color);
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

body #darkModeToggle {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid var(--secondary-color);
    transition: border-color 0.3s ease;
}

body #darkModeToggle:hover {
    border-color: var(--hover-color);
    background-color: rgba(255, 255, 255, 0.8);
}
