/* Language Switch */
.language-switch {
    position: absolute;
    top: 50%; /* Posição vertical ajustada */
    margin-left: 1rem; 
    transform: translateY(-50%);
    z-index: 1001;
    display: flex;
    gap: 10px; /* Espaçamento reduzido */
    background-color: var(--background-color-light);
    padding: 6px 10px; /* Padding reduzido */
    border-radius: var(--border-radius-full);
    box-shadow: var(--shadow-md);
}

.language-switch a {
    display: flex;
    align-items: center;
    padding: 4px 8px; /* Padding reduzido */
    background-color: transparent;
    color: var(--text-color);
    text-decoration: none;
    border-radius: var(--border-radius-md);
    font-size: 13px; /* Tamanho da fonte reduzido */
    font-weight: 500;
    transition: var(--transition-normal);
    gap: 6px; /* Espaçamento reduzido */
    font-family: 'Roboto', sans-serif;
}

.language-switch img {
    width: 20px; /* Tamanho da imagem reduzido */
    height: 20px; /* Tamanho da imagem reduzido */
    object-fit: cover;
    border-radius: var(--border-radius-full);
}

.language-switch a:hover,
.language-switch a.active {
    background-color: var(--secondary-color);
    color: var(--background-color);
    transform: translateY(-2px);
}

/* Animações */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}