.skills__container {
    row-gap: 2rem;
}

.skills h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    color: var(--secondary-color);
    font-weight: 300;
}

.skills h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: var(--secondary-color);
    border-radius: 1.5px;
}

.skills__content {
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.skills__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.skills__icon,
.skills__arrow {
    font-size: 2rem;
    color: var(--first-color);
}

.skills__icon {
    margin-right: 0.75rem;
}

.skills__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    flex: 1;
}

.skills__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills__arrow {
    margin-left: auto;
    transition: 0.4s;
}

.skills__list {
    row-gap: 1.5rem;
    padding-left: 2.7rem;
    transition: all 0.4s ease-in-out;
}

.skills__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
    height: 5px;
    border-radius: 0.25rem;
}

.skills__bar {
    background-color: var(--first-color-lighter);
}

.skills__percentage {
    display: block;
    background-color: var(--first-color);
}

.skills__close .skills__list {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.skills__open .skills__list {
    height: max-content;
    opacity: 1;
    margin-top: 1.5rem;
}

.skills__open .skills__arrow {
    transform: rotate(-180deg);
}

@keyframes skillAnimation {
    0% {
        width: 0;
    }
    100% {
        width: var(--skill-percentage);
    }
}

.skills__open .skills__percentage {
    animation: skillAnimation 1s ease-in-out forwards;
}

.skills__number {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}