/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Variáveis */
:root {
    --primary-color: #1E3A8A; 
    --secondary-color: #60A5FA; 
    --text-color: #F3F4F6; 
    --background-color: #1F2937;
    --hover-color: #1E40AF; 
    --dark-color: #1E293B; 
}


body.dark-mode {
    --primary-color: #121212;
    --secondary-color: #1DB954; 
    --text-color: #E0E0E0; 
    --background-color: #181818; 
    --hover-color: #2C2C2C; 
    --dark-color: #121212; 
}

/* Reset e estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    background-color: var(--primary-color);
    padding: 0.2rem 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary-color);
    transition: color 0.3s ease;
    z-index: 999;
    margin-left: 1.5rem;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    font-family: "Poppins", sans-serif;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(1, 7, 14, 0.7), rgba(1, 7, 14, 0.7)), url('./image/imagemfundo.webp') no-repeat center center/cover;
    position: relative;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hero h1 {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    position: relative;
    z-index: 1;
}

#home p {
    font-size: 1.2rem;
    margin: -20px 0 20px;
    position: relative;
    z-index: 1;
}

.profile-pic {
    width: 220px;
    border-radius: 50%;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 20px rgba(61, 213, 250, 0.5);
}

.cta-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: var(--secondary-color);
    color: var(--dark-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    z-index: 1;
}

.cta-button:hover {
    background-color: var(--hover-color);
    transform: translateY(-3px);
    color: white;
    transition: 0.3S;
}

/* Seção Sobre */
.about {
    padding: 50px 0;
}

.about .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.about p {
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: justify;
}

/* Seções gerais */
section {
    padding: 5rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.HabTec {
    text-align: center;
    margin-bottom: 1rem;
}

/* Seção de Habilidades */
.skills-grid {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se movam para a linha abaixo quando necessário */
    gap: 2rem;
    justify-content: center; /* Alinha os itens ao centro */
}

.skill-item {
    text-align: center;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.3s ease;
    flex: 1 1 150px; /* Ajusta o crescimento e a largura mínima dos itens */
    max-width: 200px; /* Define um tamanho máximo para os itens */
}

.skill-item:hover {
    transform: translateY(-5px);
}

.skill-item i {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
}

.skill-icon {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    margin-bottom: 1rem;
}

.skill-bar {
    background-color: var(--dark-color);
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.skill-level {
    height: 100%;
    background-color: var(--secondary-color);
    transition: width 1s ease-in-out;
}

/* mongodb */
.a, .b { 
    fill: var(--secondary-color);
}

.skill-level-100 { width: 100%; }
.skill-level-95  { width: 95%; }
.skill-level-90  { width: 90%; }
.skill-level-85  { width: 85%; }
.skill-level-80  { width: 80%; }

/* Cores das tecnologias */
.html5 { color: #E44D26; }
.css3 { color: #264DE4; }
.javascript { color: #F0DB4F; }
.react { color: #61DAFB; }
.php { color: #8892BF; }
.vuejs { color: #4FC08D; }
.bootstrap { color: #7952B3; }
.nodejs { color: #339933; }
.dom { color: #8E44AD; }
.jquery { color: #0769AD; }
.mysql { color: #4479A1; }
.postgres { color: #336791; }
.mongodb { color: #47A248; }
.gulp { color: #CF4647; }
.webpack { color: #8DD6F9; }
.angular { color: #DD0031; }

/* Cores das novas tecnologias */
.cplusplus { color: #00599C; } /* Escolha uma cor apropriada para C++ */
.csharp { color: #6C3438; }  /* Escolha uma cor apropriada para C# */

/* Efeito hover nas tecnologias */
.skill-item:hover .html5 { color: #FF8C69; transition: 0.3s; }
.skill-item:hover .css3 { color: #6C8CD5; transition: 0.3s; }
.skill-item:hover .javascript { color: #FCEB69; transition: 0.3s; }
.skill-item:hover .react { color: #7DDFFF; transition: 0.3s; }
.skill-item:hover .php { color: #A5ABCF; transition: 0.3s; }
.skill-item:hover .vuejs { color: #7EE0B2; transition: 0.3s; }
.skill-item:hover .bootstrap { color: #9B7ED8; transition: 0.3s; }
.skill-item:hover .nodejs { color: #5FCC5F; transition: 0.3s; }
.skill-item:hover .dom { color: #BB8FCE; transition: 0.3s; }
.skill-item:hover .jquery { color: #4A8AD4; transition: 0.3s; }
.skill-item:hover .mysql { color: #72A1C5; transition: 0.3s; }
.skill-item:hover .postgres { color: #4F8BB2; transition: 0.3s; }
.skill-item:hover .mongodb { color: #71B98A; transition: 0.3s; }
.skill-item:hover .gulp { color: #E6756A; transition: 0.3s; }
.skill-item:hover .webpack { color: #B0E1F9; transition: 0.3s; }
.skill-item:hover .angular { color: #E0554B; transition: 0.3s; }

/* Efeito hover nas novas tecnologias */
.skill-item:hover .cplusplus { color: #007ACC; transition: 0.3s; } /* Escolha um tom para C++ */
.skill-item:hover .csharp { color: #E44D26; transition: 0.3s; } /* Escolha um tom para C# */


.skill-item:hover .webpack-icon path,
.skill-item:hover .icon-path {
    fill: #47A248; 
    transition: 0.3s;
}

.skill-item:hover .webpack-icon path {
    fill: #B0E1F9; 
    transition: 0.3s;
}

.icon-path {
    fill: var(--secondary-color); 
}

.skill-item:hover .icon-path.webpack {
    fill: #8DD6F9; 
    transition: 0.3s;
}

/* Soft Skills */
.soft-skills {
    text-align: center;
    margin-top: 3rem;
}

.soft-skills h3 {
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.soft-skills ul {
    list-style-type: none;
    padding: 0;
}

.soft-skills li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
    transition: transform 0.3s ease;
}

.soft-skills li:hover {
    transform: scale(1.1);
}

/* Seção de Projetos */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-item {
    background-color: var(--primary-color);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: translateY(-5px);
}

.project-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-1 { background-image: url('./image/Screenshot_983.webp'); }
.project-2 { background-image: url('./image/Screenshot_987.webp'); }
.project-3 { background-image: url('./image/Screenshot_993.webp'); }
.project-4 { background-image: url('./image/site.png'); }

.project-item h3 {
    padding: 1rem;
}

.project-item p {
    padding: 0 1rem 1rem;
}

.project-details-btn {
    background-color: transparent;
}

.project-link {
    display: inline-block;
    margin: 0 1rem 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    color: var(--dark-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-link:hover,
.project-details-btn:hover {
    background-color: var(--hover-color);
    transform: translateY(-3px);
    color: white;
    transition: 0.3s;
}

/* Seção Timeline */
.timeline-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline-container::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--secondary-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-item {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--background-color);
    border: 4px solid var(--secondary-color);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item:nth-child(even) {
    left: 50%;
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even)::after {
    left: -16px;
}

.timeline-content {
    padding: 20px 30px;
    background-color: var(--primary-color);
    position: relative;
    border-radius: 6px;
}

/* Seção de Contato */
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1rem;
}

form input,
form textarea {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: box-shadow 0.3s ease;
}

form input:focus,
form textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--secondary-color);
}

.error-message {
    color: #ff6b6b;
    font-size: 0.9rem;
    margin-top: 0.2rem;
}

.submit-btn {
    background-color: var(--secondary-color);
    color: var(--dark-color);
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
    background-color: var(--hover-color);
    transform: translateY(-3px);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    padding: 2rem 0;
    text-align: center;
}

/* Social Links */
.social-links {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 0 5px 5px 0;
    z-index: 1000;
}

.social-links a {
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 0.5rem 0;
    transition: color 0.3s ease, transform 0.3s ease;
    outline: none; 
}

.social-links a:hover {
    color: var(--secondary-color);
    transform: translateY(-3px);
}

.social-links a:focus {
    outline: none; 
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--background-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
}

.close {
    color: var(--text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
}


/* Botão Scroll to Top */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none; 
    background-color: var(--secondary-color);
    color: var(--dark-color);
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    transition: opacity 0.3s, visibility 0.3s, background-color 0.3s, transform 0.3s;
    opacity: 0;
    visibility: hidden;
}

#scrollToTopBtn:hover {
    transform: translateY(-3px);
}

#scrollToTopBtn:focus {
    outline: none; 
}

#scrollToTopBtn.show {
    opacity: 1;
    visibility: visible;
}

/* Toggle Dark Mode */
.toggle-dark-mode {
    position: fixed;
    top: 0.5rem;
    right: 20px;
    z-index: 1001;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.5s ease;
}

.toggle-dark-mode:hover {
    background-color: var(--hover-color);
}

.toggle-dark-mode.active {
    transform: rotate(360deg);
}

/* Toggle Dark Mode */
.toggle-dark-mode {
    position: fixed;
    top: 0.5rem;
    right: 20px;
    z-index: 1001;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.5s ease;
    outline: none;
}

.toggle-dark-mode:hover {
    background-color: var(--hover-color);
}

.toggle-dark-mode:focus {
    outline: none; 
}

.toggle-dark-mode.active {
    transform: rotate(360deg);
}

/* Estilos para textarea */
textarea {
    resize: none;
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
}

/* Animações */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideInFromLeft {
    from { transform: translateX(-50px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInFromRight {
    from { transform: translateX(50px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInFromBottom {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* Aplicação das Animações */
.fade-in {
    animation: fadeIn 1s ease-out;
}

.slide-in-left {
    animation: slideInFromLeft 1s ease-out;
}

.slide-in-right {
    animation: slideInFromRight 1s ease-out;
}

.slide-in-bottom {
    animation: slideInFromBottom 1s ease-out;
}

/* Lazy Loading */
.lazy {
    opacity: 0;
    transition: opacity 0.3s;
}

.lazy.loaded {
    opacity: 1;
}

/* Efeito Parallax */
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    will-change: transform;
}

/* Microinterações */
.button-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-hover:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skill-item, .project-item, .timeline-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-item:hover, .project-item:hover, .timeline-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Melhorias de Acessibilidade */
:focus {
    outline: 2px solid var(--secondary-color);
    outline-offset: 2px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Animações adicionais */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-on-scroll {
    opacity: 0;
}

.animate-on-scroll.animated {
    animation: fadeInUp 0.6s ease-out forwards;
}

/* Seletor de Idioma */
.language-switch {
    position: fixed;
    top: 0.5rem;
    left: 20px; 
    z-index: 1000;
    display: flex;
    gap: 10px;
    align-items: center; /* Alinha ícones e texto verticalmente */
}

.language-switch a {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px; /* Ajustado para melhor compatibilidade com o ícone */
    font-weight: bold;
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
    outline: none;
    gap: 5px; /* Espaço entre o ícone e o texto */
}

.language-switch img {
    width: 24px; /* Ajuste o tamanho da bandeira aqui */
    height: 24px; /* Ajuste o tamanho da bandeira aqui */
    object-fit: cover; /* Mantém a proporção e evita distorções */
}

.language-switch a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.language-switch a:focus {
    outline: none;
}


body.dark-mode .language-switch a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

body.dark-mode .language-switch a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

body.dark-mode .language-switch a.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

#easter-egg {
    display: none;
    text-align: center;
    margin-top: 20px;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@keyframes firework {
    0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
  
  .firework,
  .firework::before,
  .firework::after
  {
    --initialSize: 0.5vmin;
    --finalSize: 45vmin;
    --particleSize: 0.2vmin;
    --color1: yellow;
    --color2: khaki;
    --color3: white;
    --color4: lime;
    --color5: gold;
    --color6: mediumseagreen;
    --y: -30vmin;
    --x: -50%;
    --initialY: 60vmin;
    content: "";
    animation: firework 2s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    background: 
      
      
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
      
      /* bottom right */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
      
      /* bottom left */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
      
      /* top left */
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
      
      /* top right */
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
      ;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
  }
  
  .firework::before {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
    transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework::after {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
    transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework:nth-child(2) {
    --x: 30vmin;
  }
  
  .firework:nth-child(2),
  .firework:nth-child(2)::before,
  .firework:nth-child(2)::after {
    --color1: pink;
    --color2: violet;
    --color3: fuchsia;
    --color4: orchid;
    --color5: plum;
    --color6: lavender;  
    --finalSize: 40vmin;
    left: 30%;
    top: 60%;
    animation-delay: -0.25s;
  }
  
  .firework:nth-child(3) {
    --x: -30vmin;
    --y: -50vmin;
  }
  
  .firework:nth-child(3),
  .firework:nth-child(3)::before,
  .firework:nth-child(3)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -0.4s;
  }

  
.certificates {
    padding: 60px 0;
    background-color: var(--background-color);
}

.certificates-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.certificate-item {
    background: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

.certificate-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.certificate-info {
    padding: 15px;
}

.certificate-info h3 {
    margin: 10px 0;
    font-size: 18px;
    color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;
}

.certificate-info p {
    font-size: 14px;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.cta-buttonCT {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: var(--hover-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-buttonCT:hover {
    background-color: var(--secondary-color);
    color: #000;
}